#map1, #map2, #map3, #map4, #map5 {
  height: 800px;
}

.container-fluid {
  padding: 0 0 10 0;
}

.row {
  margin-bottom: 30px;
}
.Male.high {
  fill: #fdae61;
  fill-opacity: 1;
}

.Male.low {
  fill: #2b83ba;
  fill-opacity: 1;
}

.Female.high {
  fill: #c2a5cf;
  fill-opacity: 1;
}

.Female.low {
  fill: #008837;
  fill-opacity: 1;
}

.neutral {
  fill: #aaa;
  fill-opacity: 1;
}

.legend {
  line-height: 18px;
  color: #555;
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
  background-color: #eee;
  border: 1px solid #ccc;
}
.legend i {
  width: 60px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend span {
  float: left;
  margin-right: 10px;
  display: inline-block;
  width: 60px;
}

.legend div {
  clear: left;
  height: 20px;
  font-size: 14px;
}

.legend-labels span {
  text-align: center;
}

.legend .color-bar {
  width: 100px;
}

.toggle {
  padding: 10px;
  background-color: white;
  list-style-type: none;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 1.3em;
  color: #444;
}

.toggle ul {
  padding: 0;
  list-style: none;
  margin: 0;

}

.toggle ul input {
  margin-right: 10px;
}
